#cunyjcamp-event .float-left { 
	float: left;
}

#cunyjcamp-event .float-right { 
	float: right;
}

#cunyjcamp-event .clear-both {
	clear: both;
}

#cunyjcamp-event .display-none {
	display: none !important;
}

#cunyjcamp-event .inner {
	padding-top: 5px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 5px;
}

#cunyjcamp-event .inner h4 {
	margin-top: 0;
	margin-bottom: 0;
	padding-bottom: 15px;
}

#cunyjcamp-event .inner .line-item {
	padding-top: 5px;
	padding-bottom: 5px;
}

#cunyjcamp-event .inner .line-item .pick-date,
#cunyjcamp-event .inner .line-item .pick-time {
	display: inline-block;
}

#cunyjcamp-event .inner .line-item .pick-date {
	padding-right: 10px;
}

#cunyjcamp-event .inner .line-item .pick-date label,
#cunyjcamp-event .inner .line-item .pick-time label {
	display: block;
	padding-bottom: 5px;
}

#cunyjcamp-event .inner .required {
	color: #FF0000;
}

#cunyjcamp-event .inner label {
	display: block;
}

#cunyjcamp-event .date-time-wrap div.float-left {
	margin-right: 20px;
}

#cunyjcamp-event .option-item {
	padding-top: 10px;
	padding-bottom: 10px;
}

#cunyjcamp-event .option-item .term-selector {
	float: left;
}

#cunyjcamp-event .selectlist-list {
	list-style: none;
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
	margin-left: 200px	;
}

#cunyjcamp-event .selectlist-item {
	border-left: solid 1px #eee;
	border-top: solid 1px #eee;
	border-right: solid 2px #ccc;
	border-bottom: solid 2px #ccc;
	cursor: pointer;
	padding-left: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-right: 2px;
	margin-right: 10px;
	display: inline-block !important;
	background: url(../img/backgrounds/white-grad.png) repeat-x scroll left top #F2F2F2;
	text-shadow: 0 1px 0 #FFFFFF;
}

#cunyjcamp-event .selectlist-item:hover {
	background-color: #FF0000;
	background-image: none;
	color: #FFFFFF;
	text-shadow: none;
}

/* css for timepicker */
.ui-timepicker-div .ui-widget-header{ margin-bottom: 8px; }
.ui-timepicker-div dl{ text-align: left; }
.ui-timepicker-div dl dt{ height: 25px; }
.ui-timepicker-div dl dd{ margin: -25px 0 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }